/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-communication-admin-contacts:before {
  background-image: url("../icons/bebebe/contacts.svg");
}
.toolbar-bar .toolbar-icon-communication-admin-contacts:active:before {
  background-image: url("../icons/ffffff/contacts.svg");
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-communication-admin-contacts:before {
  background-image: url("../icons/787878/contacts.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-communication-admin-contacts:active:before,
.toolbar-tray .toolbar-icon.toolbar-icon-communication-admin-contacts.is-active:before {
  background-image: url("../icons/000000/contacts.svg");
}
